.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
}

.navbar_full {
    box-shadow: 0 0 3px #b3b2dd;
}

.navbar .logo img {
    max-width: 5rem;
}

.navbar .logo a {
    display: flex;
    align-items: center;
    gap: 2px;
    font-weight: bold;
}

.navbar .logo a span {
    color: #5d7adb;
}

.navbar ul.nav {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.navbar ul.nav li a {font-weight: bold;}


/* footer */
.footer_full {
    background-color: #c3d2dd;
    text-align: center;
    padding: 2.2rem 0;
}